.container {
	overflow-x: hidden;
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.embed-responsive {
	position: relative;
	right: 0; left: 0;
	margin: auto;
	box-shadow: 0 15px 20px 0 rgba(36,84,159,0.15);
	border-radius: 1rem;
	max-height: 506px;
	max-width: 900px;
	margin-bottom: 5rem;
}

.title {
	color: #000;
	font-size: 12vw;
	font-weight: bold;
}

a:hover {
	text-decoration: none;
}

.fighter_name {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 0px 0px 8px rgba(0,0,0,0.8);
	text-decoration: none;
	padding-top: 2rem;
	padding-left: 2rem;
}

.fighter1 {
	border-radius: 1rem;
	min-height: 94px;
	max-width: 389px;
	background: url(../img/mario.png) center center;
	background-size: cover;
	background-color: #000;
}

.fighter2 {
	border-radius: 1rem;
	min-height: 94px;
	max-width: 389px;
	background: url(../img/dk.png) center center;
	background-size: cover;
	background-color: #000;
}

.fighter3 {
	border-radius: 1rem;
	min-height: 94px;
	max-width: 389px;
	background: url(../img/link.png) center center;
	background-size: cover;
	background-color: #000;
}

.fighter4 {
	border-radius: 1rem;
	min-height: 94px;
	max-width: 389px;
	background: url(../img/samus.png) center center;
	background-size: cover;
	background-color: #000;
}

.fighter5 {
	border-radius: 1rem;
	min-height: 94px;
	max-width: 389px;
	background: url(../img/yoshi.png) center center;
	background-size: cover;
	background-color: #000;
}

.fighter6 {
	border-radius: 1rem;
	min-height: 94px;
	max-width: 389px;
	background: url(../img/kirby.png) center center;
	background-size: cover;
	background-color: #000;
}

.fighter7 {
	border-radius: 1rem;
	min-height: 94px;
	max-width: 389px;
	background: url(../img/fox.png) center center;
	background-size: cover;
	background-color: #000;
}

.fighter8 {
	border-radius: 1rem;
	min-height: 94px;
	max-width: 389px;
	background: url(../img/pikachu.png) center center;
	background-size: cover;
	background-color: #000;
}

.fighter9 {
	border-radius: 1rem;
	min-height: 94px;
	max-width: 389px;
	background: url(../img/luigi.png) center center;
	background-size: cover;
	background-color: #000;
}

.fighter10 {
	border-radius: 1rem;
	min-height: 94px;
	max-width: 389px;
	background: url(../img/ness.png) center center;
	background-size: cover;
	background-color: #000;
}

.fighter11 {
	border-radius: 1rem;
	min-height: 94px;
	max-width: 389px;
	background: url(../img/falcon.png) center center;
	background-size: cover;
	background-color: #000;
}

.fighter12 {
	border-radius: 1rem;
	min-height: 94px;
	max-width: 389px;
	background: url(../img/rondoudou.png) center center;
	background-size: cover;
	background-color: #000;
}