.background {
	height: 100vh;
	background: url(../img/heros.png) repeat center center fixed;
	background-size: cover;
	animation: scroll 60s linear infinite;
	margin-bottom: 5rem;
}

.logo {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.embed-responsive {
	position: relative;
	right: 0; left: 0;
	margin: auto;
	box-shadow: 0 15px 20px 0 rgba(36,84,159,0.15);
	border-radius: 1rem;
	max-height: 506px;
	max-width: 900px;
}

@keyframes scroll {
	from {
		background-position: 3672px 0px;
	}
	to {
		background-position: 0px 0px;
	}
}